section {
    width: 609px;
    height: 59px;
    background-color: var(--light-beige-1);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 2px 18.3px 1px rgb(0, 0, 0, 0.25);
    margin: 5px 0px;
}

section * {
    font-size: var(--tiny-text);
}

.checkbox {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actions {
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.info > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info input {
    border: 0;
    background-color: transparent;
    width: 90px;
}

.actions img {
    cursor: pointer;
}

.info input:disabled {
    color: black;
}