section {
    width: 609px;
    height: 59px;
    background-color: var(--light-beige-1);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 2px 18.3px 1px rgb(0, 0, 0, 0.25);
}

p, input {
    font-size: var(--tiny-text);
}

.checkbox {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actions {
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.week-period, .time-period {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#start-week, #end-week {
    width: 90px;
}

input {
    border: 0;
    background-color: transparent;
}
