header {
    background-color: var(--orange-2);
    display: flex;
    justify-content: space-between;
    align-items: center;        
    margin: 0;
    padding: 0 1rem;
    height: 7vh;
}


.left-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
    cursor: pointer;
}

.logo {
    padding: 8px 12px 8px 86px;
}


nav {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}


.navigator {
    position: relative;         
    display: flex;
    justify-content: center;    
    align-items: center;
    cursor: pointer;
}


menu {
    position: absolute;         
    top: 50%;                 
    right: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 0;
    display: none;
    z-index: 1000;
}

.navigator:hover menu {
    display: block;
}

.hamburguer {
    width: 64px;
    height: 54px;
}