<app-header></app-header>
<section class="admin-login-body">
    <app-panel [width]="990" [height]="535" justify="space-evenly">
        <h2 class="admin-login-title">Entrar como Administrador</h2>
        <app-text-input-field label="Senha" [component_id]=1 [is-password]=true placeholder="Senha" [width]="842"></app-text-input-field>
        <section class="admin-login-buttons">
            <app-button label="Entrar" variation="primary"></app-button>
            <app-button label="Cancelar" variation="secondary" routerLink="/home"></app-button>
        </section>
    </app-panel>
</section>
