.admin-login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
}

.admin-login-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.admin-login-title {
    font-size: var(--medium-text);
    margin: 0px;
}

.password-field {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.password-field > label {
    font-size: var(--small-text);
    margin: 5px 0px;
}

.password-field > input {
    width: 842px;
    font-size: var(--small-text);
    background-color: var(--yellow-1);
    border-radius: 8px;
    border: 2px solid var(--gray-1);
    padding: 20px 28px;
    box-shadow: 0px 3px 4.4px rgb(0, 0, 0, 0.25);
}