<app-user-header></app-user-header>
<app-admin-header></app-admin-header>
<app-button label="Cadastro" onclick="alert('ola');"></app-button>
<app-button label="Entrar"></app-button>
<app-button label="+" variation="configuration"></app-button>
<app-button label="Retirar" variation="negative"></app-button>
<app-button label="Cancelar" variation="negative"></app-button>
<app-text-input-field label="Nº da placa do veículo" [component_id]=1 placeholder="Placa do veículo"></app-text-input-field>
<app-text-input-field label="Senha" [component_id]=2 [is-password]=true placeholder="Senha"></app-text-input-field>


<!-- <router-outlet></router-outlet> -->