<!-- <app-header></app-header>
<app-header [isInAdminRegion]="true"></app-header>
<app-button label="Cadastro" onclick="alert('ola');"></app-button>
<app-button label="Entrar"></app-button>
<app-button label="+" variation="configuration"></app-button>
<app-button label="Retirar" variation="negative"></app-button>
<app-button label="Cancelar" variation="negative"></app-button>
<app-text-input-field label="Nº da placa do veículo" [component_id]=1 placeholder="Placa do veículo"></app-text-input-field>
<app-text-input-field label="Senha" [component_id]=2 [is-password]=true placeholder="Senha"></app-text-input-field>
<app-business-hour-item></app-business-hour-item>
<app-price-model-item></app-price-model-item>
<app-configuration-list></app-configuration-list> -->
<!-- <app-home></app-home> -->

<router-outlet></router-outlet>