.history-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
}

#history-title {
    font-size: var(--big-text);
}

.table-container {
    width: 90%;
    height: 60%;
}

table {
    background-color: var(--yellow-1);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0px 2px 18.3px 1px rgb(0, 0, 0, 0.25);
}

tr {
    text-align: center;
}

th,td {
    padding: 20px;
}

tr:nth-child(even) {
  background-color: rgb(0, 0, 0, 0.08);
}

thead, tbody {
    font-size: var(--medium-text);
}

thead {
    box-shadow: 4px 4px 6.7px 0px rgb(0, 0, 0, 0.25);
}