<app-header></app-header>
<section class="history-body">
    <h2 id="history-title">Histórico de Operações</h2>
    <div class="table-container" *ngIf="historyRegistries.length > 0; else emptyHistory">
        <table>
            <thead>
                <tr>
                    <th>Entrada</th>
                    <th>Saída</th>
                    <th>Placa</th>
                    <th>Valor Final</th>
                    <th>Modelo de Cobrança</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let historyRegistry of historyRegistries">
                    <td>{{historyRegistry.entry}}</td>
                    <td>{{printLeave(historyRegistry.leave)}}</td>
                    <td>{{historyRegistry.plate}}</td>
                    <td>{{printTotal(historyRegistry.total)}}</td>
                    <td>{{historyRegistry.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #emptyHistory>
        <section class="emptyHistory-section">
        <p class="emptyHistory-warning">Não há registros disponíveis</p>
        </section>
    </ng-template>
</section>

