button {
    border: none;
    text-align: center;
    display: inline-block;
    width: 295px;
    margin: 4px 2px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.25);
    /*positive (default) variation */
    color: black;
    background-color: var(--orange-1);
    border: 1px solid black;
    font-size: var(--small-text);
    padding: 18px 0px;
}

/*positive (default) variation in hover: */
button:hover {
    width: 609 px;
    background-color: var(--orange-2);
}

button.negative {
    color: var(--dark-orange-1);
    background-color: var(--light-beige-1);
    border: 5px solid var(--orange-2);
}

button.negative:hover {
    background-color: var(--beige-1);
}

