.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5% 0%;
}

.panel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.vehicle-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-context, #home-capacity{
    font-size: var(--small-text);
    color: black;
}

#home-capacity {
    align-self: flex-start;
}

.home-context {
    border: 0px;
    background-color: transparent;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.home-changing-values {
    color: var(--orange-1);
}

table {
    background-color: var(--yellow-1);
    width: 70%;
    height: 30%;
    border-radius: 8px;
    box-shadow: 0px 2px 18.3px 1px rgb(0, 0, 0, 0.25);
}

tr {
    text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(0, 0, 0, 0.08);
}

tbody {
    font-size: var(--small-text);
}

h2 {
    font-size: var(--big-text);
    font-weight: normal;
    margin: 0;
}

.total-cost {
    font-size: var(--gigant-text);
    font-weight: bold;
    color: var(--orange-1);
}

.exception-text {
    font-size: var(--small-text);
}