header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5% 0%;
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
}

.panel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.vehicle-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-context, #home-capacity{
    font-size: var(--small-text);
    color: black;
}

#home-capacity {
    align-self: flex-start;
}

.home-context {
    border: 0px;
    background-color: transparent;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

