<app-header></app-header>
<section class="home-body" [ngSwitch]="state">
    <app-panel *ngSwitchCase="0" [width]="1184" [height]="712">
        <header>
            <div>
                <img src="../assets/3rd-party/images/schedule.png">
                <input type="time" value="20:00" disabled class="home-context">
            </div>
            <div>
                <img src="../assets/3rd-party/images/calendar.png">
                <input type="date" value="11/10/2025" disabled class="home-context">
            </div>
        </header>
        <section class="panel-body">
            <div class="vehicle-info">
                <div class="plate-field">
                    <label for="plate-input"> Nº da placa do veículo</label>
                    <input
                        type="text"
                        placeholder="Placa do veículo"
                        id="plate-input"
                        [(ngModel)]="this.plate"
                    >
                </div>
                <!-- <app-text-input-field label="Nº da placa do veículo" [component_id]=1 placeholder="Placa do veículo"></app-text-input-field> -->
                <p id="home-capacity">Capacidade atual do estacionamento: <b class="home-changing-values">{{this.occupancy}}</b> de <b class="home-changing-values">{{this.currentScenario.capacity}}</b></p>
            </div>
            <section class="home-buttons">
                <app-button label="Cadastrar" variation="primary" (click)="prepareRegister()"></app-button>
                <app-button label="Retirar" variation="secondary" (click)="checkout()"></app-button>
            </section>
        </section>
    </app-panel>

    <app-panel *ngSwitchCase="1" [width]="1200" [height]="643" justify="space-evenly">
        <h2>Escolha o modelo de cobrança</h2>
        <table>
            <tbody>
                <tr *ngFor="let priceOption of currentScenario.prices">
                    <td><input type="radio" name="radio" [value]="priceOption.id" (change)="seekPriceOptionSelected($event)"></td>
                    <td>{{priceOption.name}}</td>
                    <td>R${{priceOption.value}}</td>
                    <td>por cada {{priceOption.frequencyValue}} {{priceOption.frequencyType}}(s).</td>
                </tr>
            </tbody>
        </table>
        <section class="home-buttons">
            <app-button label="Cadastrar" variation="primary" (click)="register()"></app-button>
            <app-button label="Cancelar" variation="secondary" (click)="cancelRegister()"></app-button>
        </section>
    </app-panel>
</section>

<app-modal #successModal [width]="515" [height]="301">
    <p class="success-text">Sucesso!</p>
    <app-button label="Ok!" (click)="resetHome(this.successModal)"></app-button>
</app-modal>

<app-modal #errorModal [width]="515" [height]="301">
    <p class="exception-text">Placa <b>NÃO</b> cadastrada!</p>
    <app-button label="Ok!" (click)="errorModal.close()"></app-button>
</app-modal>

<app-modal #exceededModal [width]="515" [height]="301">
    <p class="exception-text">Capacidade excedida</p>
    <app-button label="Ok!" (click)="exceededModal.close()"></app-button>
</app-modal>

<app-modal #closedModal [width]="515" [height]="301">
    <p class="exception-text">Estacionamento fechado</p>
    <app-button label="Ok!" (click)="closedModal.close()"></app-button>
</app-modal>

<app-modal #totalModal>
    <h2>Valor a ser Pago</h2>
    <p class="total-cost">R$ {{totalPrice}}</p>
    <section class="home-buttons">
        <app-button label="Confirmar Pagamento" variation="primary" (click)="confirmCheckout()"></app-button>
        <app-button label="Cancelar" variation="secondary" (click)="resetHome(this.totalModal)"></app-button>
    </section>
</app-modal>