.text-input-field {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.text-input-field > label {
    font-size: var(--small-text);
    margin: 5px 0px;
}

.text-input-field > input {
    background-color: var(--yellow-1);
    border-radius: 8px;
    border: 2px solid var(--gray-1);
    font-size: var(--big-text);
    padding: 20px 28px;
    box-shadow: 0px 3px 4.4px rgb(0, 0, 0, 0.25);
}