section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 2px 18.3px 1px rgb(0, 0, 0, 0.25);
}

section > * {
    margin: 0px;
}

.primary {
    background-color: var(--light-beige-1);
    justify-self: center;
    align-self: center;
    border-radius: 70px;
}

.secondary {
    background-color: var(--light-light-beige-1);
    /* justify-content: space-evenly; */
    border-radius: 20px;
}