section {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-self: center;
    align-self: center;
    border-radius: 70px;
    box-shadow: 0px 2px 18.3px 1px rgb(0, 0, 0, 0.25);
}

section > * {
    margin: 0px;
}

.default {
    background-color: var(--light-beige-1);
}

.configuration-panel {
    background-color: var(--light-light-beige-1);
    border-radius: 20px;
    border: 1px solid black;
}

.item {
    background-color: var(--light-beige-1);
    border: 1px solid black;
}

.configuration-major-panel {
    background-color: var(--light-beige-1);
    box-shadow: 0px 2px 18.3px 1px rgb(0, 0, 0, 0.50);
    border-radius: 0px;
    padding: 0;
}