.admin-configuration-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tabs {
    width: 34%;
    height: 70px;
    font-size: var(--small-text);
    border-radius: 0;
    border: 1 solid black;
    color: black;
    background-color: var(--light-light-beige-1);
}

.tabs:hover {
    color: var(--dark-orange-1);
}

.configuration-body {
    width: 100%;
    height: 100%;
}

.rules-body {
    width: 94%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.advanced-rules {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rules-buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
}

#default-rule-capacity {
    margin: 0px 10px;
    font-size: var(--small-text);
}

h3 {
    font-size: var(--small-text);
    font-weight: normal;
}

p {
    font-size: var(--tiny-text);
}