<app-header [isInAdminRegion]="true"></app-header>
<section class="admin-configuration-body">
<app-panel variation="configuration-major-panel" [width]="1806" [height]="894" justify="space-between">
    <nav>
        <button class="tabs" id="tab-1" (click)="tab=1">Regras</button>
        <button class="tabs" id="tab-2" (click)="tab=2">Exceções</button>
        <button class="tabs" id="tab-3" (click)="tab=3">Segurança de Conta</button>
    </nav>
    <div [ngSwitch]="this.tab" class="configuration-body">
        <section *ngSwitchCase="1" class="rules-body">
            <app-panel variation="configuration-panel" [width]="1678.5" [height]="110" flex-direction="row" justify="start">
                <h3>Capacidade Máxima:</h3>
                <input type="number" id="default-rule-capacity" [(ngModel)]="this.defaultScenarioNew.capacity">
                <p>veículos.</p>
            </app-panel>
            <div class="advanced-rules">
                <app-configuration-list label="Horário de Funcionamento" [add]="defaultScenarioBusinessHourAdd">
                    <app-business-hour-item #defaultBusinessHour *ngFor="let businessHour of defaultScenarioNew.businessHours" [businessHour]="businessHour" [deleteComponent]="defaultScenarioBusinessHourDelete(businessHour.id)"></app-business-hour-item>
                </app-configuration-list>
                <app-configuration-list label="Preço">
                    <app-price-model-item></app-price-model-item>
                    <app-price-model-item></app-price-model-item>
                    <app-price-model-item></app-price-model-item>
                    <app-price-model-item></app-price-model-item>
                    <app-price-model-item></app-price-model-item>
                    <app-price-model-item></app-price-model-item>
                    <app-price-model-item></app-price-model-item>
                </app-configuration-list>
            </div>
            <div class="configuration-state-buttons">
                <app-button label="Salvar" (click)="defaultScenarioSave()"></app-button>
            </div>
        </section>
        <section *ngSwitchCase="2" class="exceptions-body">
            <app-panel variation="configuration-panel" [width]="1678.5" [height]="110" flex-direction="row" justify="start">
                <h3>Motorista de passagem:</h3>
                <div class="default-rule-tolerance-container">
                    <p>até</p>
                    <input type="number" id="default-rule-tolerance">
                    <p>veículos.</p>
                </div>
            </app-panel>
            <app-panel variation="configuration-panel" [width]="1678.5" [height]="427" flex-direction="row" justify="start">

            </app-panel>
            <div class="configuration-state-buttons">
                <app-button label="Salvar"></app-button>
            </div>
        </section>
        <section *ngSwitchDefault class="security-body">
            <app-panel variation="configuration-panel" [width]="1678.5" [height]="110" flex-direction="row" justify="start">
                <h3>Número máximo de tentativas de login erradas</h3>
                <input type="number" id="default-rule-tolerance">
            </app-panel>
            <app-panel variation="configuration-panel" [width]="1678.5" [height]="427" flex-direction="column" justify="start">
                <h3>Trocar Senha</h3>
                <form class="password-fields">
                    <section>
                        <label for="actual-password">Senha atual</label>
                        <input type="password" id="actual-password" name="actual-password" placeholder="********">
                    </section>
                    <section>
                        <label for="new-password">Nova senha</label>
                        <input type="password" id="new-password" name="new-password" placeholder="********">
                    </section>
                    <section>
                        <label for="confirm-new-password">Confirmar nova senha</label>
                        <input type="password" id="confirm-new-password" name="confirm-new-password" placeholder="********">
                    </section>
                </form>
            </app-panel>
            <div class="configuration-state-buttons">
                <app-button label="Salvar"></app-button>
            </div>
        </section>
    </div>
</app-panel>
</section>