.internal-window {
    width: 648px;
    height: 230px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    padding: 15px;
}

h3 {
    font-size: var(--small-text);
}