.internal-window {
    width: 678px;
    height: 260px;
    background-color: white;
    border: 1px solid black;
    justify-items: center;
    justify-content: center;
}

h3 {
    font-size: var(--small-text);
}